<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MemoARCenter.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="src/favicon.png" alt="MemoAR Logo" class="navbar-logo"> MemoAR
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/file-upload">File Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload-zip">Upload ZIP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/how-to-use">How to Use</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/privacy-policy">Policy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="background-circles">
        <!-- Top Left -->
        <div class="circle" style="width: 150px; height: 150px; top: 5%; left: 5%;"></div>
        <!-- Top Right -->
        <div class="circle" style="width: 200px; height: 200px; top: 5%; right: 5%;"></div>
        <!-- Bottom Right -->
        <div class="circle" style="width: 100px; height: 100px; bottom: 5%; right: 5%;"></div>
        <!-- Bottom Left -->
        <div class="circle" style="width: 250px; height: 250px; bottom: 5%; left: 5%;"></div>
        <!-- Center -->
    </div>

    <Routes />
    <script src="/bootstrap/bootstrap.bundle.min.js"></script>

    <script src="site.js"></script>
    <script src="_framework/blazor.web.js"></script>

</body>


</html>
