@page "/download-page/{base64Parameter}"

@code {
    [Parameter]
    public string Base64Parameter { get; set; }

    private string MemoarUrl => $"memoar://getr?parameter={Base64Parameter}";
}

<div class="home-container">
    <h1 class="welcome-title">Welcome to <span class="app-name">MemoAR</span></h1>

    <p class="app-description">
        If the download doesn't start automatically, click the button below to manually download the database.
    </p>

    <div class="button-area">
        <a href="@MemoarUrl" class="upload-button">Download DB</a>
    </div>
</div>

<script>
    window.onload = function() {
        window.location.href = "@MemoarUrl";
    };
</script>
